.App {
  text-align: center;
}
.media-list{
  display: flex;
  flex-direction: column;
  align-items: center;
}
 .media-item{
  border: solid;
  box-sizing: border-box;
  width: fit-content;
  text-align: center;
  
 }

 
 